DATABASE_URL=postgresql://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-REGIAO.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://[SEU_PROJETO].supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui

# gere com: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=

PORT=3001

